html {
  height: 100%;
}

html, body {
  font-family: "Arial", sans-serif;
  height: 100%;
  overflow: auto;
}

body {
  background-image: linear-gradient(to bottom right, hsla(229, 63%, 36%, 1), hsla(229, 40%, 60%, 1));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

@media (max-height: 799px) {
  main {
    height: auto;
  }
}

@media (min-height: 800px) {
  main {
    height: 100%;
  }
}
